# Dependências
node_modules
.pnpm-store
.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.log
.yarn/install-state.gz

# Build / output
dist
dist-ssr
build
*.local

# Cache do Vite e ferramentas
.vite
.cache
.parcel-cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testes / coverage
coverage
*.lcov
.nyc_output

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# IDEs e editores
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Temporários
*.tmp
*.temp
.tmp


# Arquivos de backup
.scolisscan_clean.zip

# Outros
.CLAUDE.md